{% extends 'layout.html' %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">  <!-- enctype for image/file upload -->
            {{ form.hidden_tag() }}  <!-- adds CSRF token -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>

                <!-- title code, with error alerts built in with WTForms -->
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}
                        {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <!-- content code, with error alerts built in with WTForms -->
                <div class="form-group">
                    {{ form.content.label(class="form-control-label") }}
                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <!-- image details code, with error alerts built in with WTForms -->
                <div class="form-group">
                    {{ form.image.label() }}
                    {{ form.image(class="form-control-file") }}
                    {% if form.image.errors %}
                        {% for error in form.image.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>

            <!-- recipient code, with error alerts built in with WTForms -->
                <div class="form-group">
                    {{ form.recipients.label(class="form-control-label") }}
                        {% if form.recipients.errors %}
                        {{ form.recipients(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.recipients.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.recipients(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

            </fieldset>

            <!-- submit button -->
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>

        </form>
    </div>
{% endblock content %}